* {
	box-sizing: border-box;
}

html {
	background: #F5F5F5;
}

.container {
	position: absolute;
	width: 250px;
	height: 380px;
	background: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 2px 10px 30px rgba(0,0,0,.2);
	transform-style: preserve-3d;
	transition: all 0.8s ease;
}

.card:hover {
  transform: rotateY(180deg);
}