@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	box-sizing: border-box;

}

html {
	background: #F5F5F5;
}

.container {
	position: absolute;
	width: 250px;
	height: 380px;
	background: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*the front and the back faces of the card*/
.card {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 2px 10px 30px rgba(0,0,0,.2);
	transform-style: preserve-3d;
	transition: all 0.8s ease;
}

/*flip the card when mouse over and mouse out*/
.card:hover {
  transform: rotateY(180deg);
}

/*the front face of the card*/
.cardfront {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	backface-visibility: hidden;
	overflow: hidden;
	background: #E5E338;
	color: #000;
}

/*the back face of the card*/
.cardback {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	backface-visibility: hidden;
	overflow: hidden;
	background: #000;
	transform: rotateY(180deg);
}

/*the heading text for the front card*/
.cardfront h1 {
	font-family: 'Yatra One', cursive;
	font-size: 3em;
	padding-top: 50%;
	text-align: center;
}

/*the heading text for the back card*/
.cardback h1 {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	font-size: 2em;
	padding: 35px;
	text-align: center;
}

/*the paragraph text for the front card*/
.cardback p {
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	padding: 25px;
	text-align: center;
}